# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyd
*.dll
*.dylib


# CMake build directories
build/
/cpp_code/CMakeFiles/
/cpp_code/CMakeCache.txt
/cpp_code/cmake_install.cmake
/cpp_code/Makefile

# Compiled Python extension
/src/pybhjet/*.so
/src/pybhjet/*.pyd

# Python distribution artifacts
dist/
*.egg-info/
*.egg
*.whl
*.tar.gz

# VS Code / IDEs
.vscode/
.idea/
*.swp

# OS-specific
.DS_Store
Thumbs.db

# Test / coverage
*.log
coverage/
*.cover
.cache/
pytest_cache/

# Backup files
*~
*.bak

# PyInstaller
*.spec

# wheel output
src/pybhjet/pybhjet*.so
